<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Réinitialisation de votre mot de passe</title>
</head>
<body>
    <h1>Réinitialisation de votre mot de passe</h1>
    <p>Bonjour,</p>
    <p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :</p>
    <a  class="btn btn-primary" href="{{ resetLink }}">Réinitialiser mon mot de passe</a>
</body>
<style>
    .btn {
        display: inline-block;
        padding: 12px 20px;
        background-color: #ea4c88; /* Couleur de fond */
        color: white; /* Couleur du texte */
        border-radius: 0.25rem; /* Bord arrondi */
        text-align: center;
        text-decoration: none; /* Pas de soulignement */
        transition: background-color 0.3s; /* Effet de transition */
    }
    
    .btn:hover {
        background-color: #d44179; /* Couleur au survol */
    }
</style>
</html>
