<table	id="{{tableId | default('table') }}"	data-toggle="table"	data-search="true"	class="table table-striped bg-antracite">
	<thead>
		<tr>
			{% for th in ths %}
				<th>
					{{ th }}
				</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody></tbody>
</table>
