{% extends 'base.html.twig' %}

{% block title %}
	Votre suivi
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('synthese') }}

{% endblock %}

{% block body %}
	<div	class="js-table-data"	data-table-items="{{ jobsInProgressJson }}"></div>
</hr>



<div	class="in-progress">
	<div	class="d-flex justify-content-between gap-3 align-items-stretch flex-wrap">
		<div class='bg-div  flex-grow-1 d-flex flex-column justify-content-center'>
			<a	href="{{ path('candidature_new') }}">
				<h4	class="text-center ">
					Ajouter une candidature
				</h4>
			</a>
		</div>
		<div	id="chart"	class='d-flex justify-content-center bg-div text-white'></div>

	</div>
	<div	class='bg-div my-3'>
		<h4>
			Liste des candidatures en cours
		</h4>

		{% include "home/inProgress.html.twig" %}
	</div>

</div>{% endblock %}