{% extends 'base.html.twig' %}

{% block title %}
	Votre suivi
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('synthese') }}

{% endblock %}

{% block body %}
	<div	class="js-table-data"	data-table-items="{{ jobsInProgressJson }}"></div>
</hr>

<div	class="in-progress">
	<div	class="d-flex mb-3 justify-content-xl-around flex-wrap gap-3 bg-div align-items-center">
		<p>
			{{ jobsInProgress | length }}
			candidatures en cours
		</p>

			<div	id="chart"	class='d-flex justify-content-center'></div>

	</div>
	<div	class='bg-div'>

		<div	class="d-flex justify-content-between  p-3">
			<h4>
				Liste des candidatures en cours
			</h4>
			<div	class="search-container w-auto">
				<input	type="text"	id="search-input"	class="form-control"	placeholder="Rechercher"></div>
			</div>
			<div	id="job-list"	class=" d-flex flex-wrap justify-content-between">
				{% for job in jobsInProgress %}
					{% include '/_card.html.twig' %}

				{% endfor %}
			</div>
		</div>
		<template	id="cardTemplate">
			{% include '/_card.html.twig' with { job: {} } | raw %}
		</template>
	</div>
{% endblock %}
