<table	id="table"	data-toggle="table "	data-search="true"	class="table table-striped bg-antracite">
	<thead>
		<tr>
			<th>
				Le
			</th>
			<th>
				Employeur
			</th>
			<th>
				Intitulé
			</th>
			<th>
				Dernière action
			</th>
			<th	data-field="link">
				Action
			</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>
