{% extends 'base.html.twig' %}

{% block title %}
	Mon espace
{% endblock %}

{% block javascripts %}

	{{ encore_entry_script_tags('mySpace') }}

{% endblock %}


{% block body %}

{{ include('user/show.html.twig') }}
<div class="js-table-data"	data-table-items="{{ jobs  }}"></div>
<div class="border rounded p-3 my-3 bg-div">

<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        Toutes les candidatures
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
	  {{ include('home/inProgress.html.twig') }}
      </div>
    </div>
  </div>
</div>


</div>
{% endblock %}