{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ encore_entry_script_tags('jobAlert') }}

{% endblock %}
{% block body %}
    <div class="js-table-data"  data-table-items="{{ results }}" data-table-count="{{ count }}"></div>
    <div class="bg-div">
        {% include "home/_dataTable.html.twig" with {'ths': [ 'Localisation','Employeur','Intitulé','Description', 'Lien']} %}
    </div>

{% endblock %}
