{% if (jobTrackings | length) < 1 %}
  Aucun
{% else %}

  <table class="table table-striped">
    <thead>
      <tr>
        <th>
          Date
        </th>
        <th>
          Action
        </th>
        {% if notEditing %}

          <th></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for jobTracking in jobTrackings %}
        <tr>
          <td>
            {{ jobTracking.createdAt | date('d/m/Y') }}
          </td>
          <td>
            {{ jobTracking.action.name }}
          </td>
          {% if notEditing %}
            <td>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#handleModifyModal"   
               data-jobtracking-id="{{ jobTracking.id }}"
              data-jobtracking-action="{{ jobTracking.action.id }}">
                Modifier
              </button>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
