<div data-id='{{ job.id }}' class="job-id"></div>
  {% set isNew = false %}

  {% include "job/newJob.html.twig" %}
  <div class="d-flex justify-content-end gap-3 ">

    <button class="btn btn-danger  action d-none" data-bs-toggle="modal" data-bs-target="#handleDeleteModal">
      Supprimer la candidature
    </button>

    <button class="btn btn-success  action  submit  d-none" onClick='handleJobModify()'>
      Valider
      <div class="spinner-border loading-spinner d-none" style="    height: 1rem  !important;
      width: 1rem !important;" role="status">
        <span class="visually-hidden">
          Loading...
        </span>
      </div>
    </button>

    <button class="btn btn-secondary  action  submit  d-none" onClick='modifyJob()'>
      Annuler
    </button>
    <button class="btn btn-warning  modify   action d-block" onClick='modifyJob()'>
      Modifier l'offre
    </button>

  </div>
</div>