<div data-id='{{ job.id }}' class="job-id"></div>
  {% set isNew = false %}

  {% include "job/show.html.twig" %}
  <div class="d-flex justify-content-end gap-3 ">

    <button class="btn btn  action d-none text-danger" data-bs-toggle="modal" data-bs-target="#handleDeleteModal">
      Supprimer la candidature
    </button>

    <button class="btn btn  action  submit  d-none" onClick='handleJobModify()'>
      Valider
 
    </button>

    <button class="btn   action  submit  d-none" onClick='modifyJob()'>
      Annuler
    </button>
    <button class="btn   modify   action d-block" onClick='modifyJob()'>
      Modifier l'offre
    </button>

  </div>
</div>