{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('postit') }}

{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('jobTracking') }}

{% endblock %}

{% block body %}
  {% if job.notes | length  > 0 %}

    <div class="d-flex gap-2 flex-wrap my-3 justify-content-between">
      {% for note in job.notes %}
        {% include "_postit.html.twig" with {
    createdAt :note.createdAt,
    content: note.content ,
    noteId: note.id, 
    color :note.color
    } %}
      {% endfor %}
    </div>
  {% endif %}
  <div class="d-flex justify-content-between gap-3 flex-wrap  mb-3">

    <div class="flex-grow-1">

      <div class="bg-div">
        <h4>
          Offre d'emploi
        </h4>
        {% include "job_tracking/_job.html.twig" %}

      </div>
      <div class="flex-grow-1 d-flex flex-column gap-3 justify-content-between">
        {% if not isClosedJob %}

          <div class="bg-div mb-2">
            <h4>
              Action du jour
            </h4>
            {% include "job_tracking/_actions.html.twig" %}
          </div>
        {% endif %}
        <div class="bg-div">
          <h4></h4>
          {% include "job_tracking/note/_form.html.twig" %}
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item  bg-div">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Historique
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            {% set notEditing =  true %}
            {% include "job_tracking/_job_tracking.html.twig" %}
          </div>
        </div>
      </div>

    </div>

  </div>
  {% include "job_tracking/_delete_job_modal.html.twig" %}
  {% include "job_tracking/_edit_job_tracking_modal.html.twig" %}
</div>{% endblock %}