
.navbar {
  border-bottom: 1px solid #888;
}

/* label {
  display: none !important;
} */

#job-accor .accordion-body{
    max-height: 50vh;
    overflow: auto;
}

.alert-block {
  transition: opacity 0.5s ease-in-out;
}

.alert.fade-out {
  opacity: 0;
}