@import url("https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css");

.navbar {
  border-bottom: 1px solid #888;
  padding: 3vh;
}

.alert-block {
  transition: opacity 0.5s ease-in-out;
}

.alert.fade-out {
  opacity: 0;
}

body {
  background-color: #606468;
}

main {
  min-width: 500px;
  margin: 0 100px;
  margin-bottom: 100px;
}
.bg-div {
  background-color: #eee !important;
  border-radius: 0.5rem !important;
  padding: 1rem !important;
}

.dt-layout-row select,
.dt-layout-row input,
.dt-paging-button {
  background-color: white !important;
}

.brand-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.color-grey {
  color: grey !important;
}
.alert {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
}

main {
  max-height: 80vh;
  overflow: auto;
}

.ui-autocomplete {
  background-color: #eee;
}

body{
  height: 100vh;
  overflow: hidden;
}

:root {

  --bs-primary: #7A9E9C;
  --bs-secondary: #9DD1C6;
  --bs-warning: #F2C078;
  --bs-danger: #ED8061ff;

  --bs-success: #CFCFEA;
  --bs-info: #17a2b8;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;

}


.btn-primary  {
  border-color: var(--bs-primary) !important;
  background-color:  var(--bs-primary) !important;

}
.btn-primary:hover {
  background-color: #82beb0 !important; /* Ajuste la couleur lors du hover */
}

a, .btn-link{
  color:  var(  --bs-dark) !important;
}

.nav-link.active{
  font-weight: bold;
}

.text-danger {
  color: var(--bs-danger) !important;
}

.text-success {
  color: var(--bs-success) !important;
}

.text-info {
  color: var(--bs-info) !important;
}