
:root {
  --bs-primary: #9DD1C6;   /* Couleur principale */
  --bs-secondary: #2ecc71; /* Couleur secondaire */
  --bs-success: #28a745;
  --bs-danger: #ED8061;
  --bs-warning: #F1C40F;
  --bs-info: #17a2b8;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
}
@import '~bootstrap/scss/bootstrap';