@import url('https://cdn.datatables.net/2.1.7/css/dataTables.dataTables.css');

.navbar {
  border-bottom: 1px solid #888;
  padding: 3vh;
}

.alert-block {
  transition: opacity 0.5s ease-in-out;
}

.alert.fade-out {
  opacity: 0;
}

body {
  background-color: #606468;
}

.bg-div {
  background-color: #eee  !important;
}

.bg-mintgrey{
background-color: #D3F3EE !important;
} 

.bg-frenchrose {
  background-color: #EA4C88 !important;
}

.bg-apricot{
  background-color: #FFCAAF !important;
}

.dt-layout-row select, .dt-layout-row input, .dt-paging-button{
  background-color: white !important;
}

