.swiper-container img {
  height: 50vh;

    width: 100%;
    object-fit:cover  ;
    object-position: top;
    
}

.swiper-container p > img {
/* display: flex;
flex-direction: column;
justify-content: center; */
  
}


  #modalImage{
    width: 100%;
    object-fit: contain;
  }


  .swiper-slide {
    margin: 10px; /* Ajouter 10px de marge autour de chaque slide */
    box-sizing: border-box; /* Assurez-vous que la marge est incluse dans les dimensions */

}

