h3{
  margin: 0;
}


.password-strength {
  position: relative;
}

#password-strength-meter {
  height: 10px;
  width: 100%;
  background-color: #ddd;
  margin-top: 10px;
}

#password-strength-text {
  font-size: 0.875rem;
  margin-top: 5px;
}


.alert {
  position: absolute !important;
  top: 10rem !important;
  right: 0 !important;
  z-index: 1000000;
  padding: 10px;
  background-color: orange;
}