
  
  .steps {
    display: flex;
   /* align-items: center;*/
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .step {
    position: relative;
    background-color:  #FFBAA5;
    color: white;
    font-weight: bold;
    text-align: center;
    padding:30px;
    display:flex;
    flex-direction : column;
    justify-content : center;
    /*line-height: 100px;
    height: 100px;
      width: 150px;
  margin-left: 20px;*/
    clip-path: polygon(0 0, calc(100% - 20px) 0, 100% 50%, calc(100% - 20px) 100%, 0 100%, 20px 50%);
  }
  
  .step:first-of-type {
    margin-left: 0; /* Pas de décalage pour la première flèche */
  }
  
  .step:last-of-type {
    background-color :
    #ADD7CE;
  }