<div class="post-it">
    <div class="sticky taped" style='background-color: {{color|default('#feff9c')}};'>
        <p class="d-flex justify-content-between">
            <strong>
                {{ createdAt | date('d/m/Y') }}
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="deleteNote({{noteId}})"></button>
        </p>
        <p>
            {{ content | nl2br }}
        </p>
    </div>
</div>
