
    {# <div class="bg-div "> #}

        <table class="table ">
            <tr>
                <th>
                    Email
                </th>
                <td>
                    {{ user.email }}
                </td>
            </tr>

            <tr>
                <th>
                    Prénom
                </th>
                <td>
                    {{ user.firstname }}
                </td>
            </tr>
            <tr>
                <th>
                    Nom
                </th>
                <td>
                    {{ user.lastname }}
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end align-items-center">

        <a href="{{ path('app_user_edit', {'id': user.id}) }}">
            Modifier
        </a>
    </div>
{# </div> #}